<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{url_for('home')}}">Accueil</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						CRUD MONGO DB
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="{{url_for('add_element')}}">Ajouter un element </a></li>
						<li><a class="dropdown-item" href="{{url_for('add_element_bitcoin')}}">Ajouter un element bitcoin</a></li>
						<li><a class="dropdown-item" href="{{url_for('delete_element')}}">Supprimer un element</a></li>
						<li><a class="dropdown-item" href="{{url_for('update_element')}}">Modifier un element</a></li>
						<li><a class="dropdown-item" href="{{url_for('update_element_bitcoin')}}">Modifier un element bitcoin</a></li>
						<li><a class="dropdown-item" href="{{url_for('update_api')}}">Update API live</a></li>
					</ul>
				</li>

			</ul>

		</div>
	</div>
	
</nav>