{% extends "base.html" %}

{% block title %} Ajouter element {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<h1>Formulaire de creation du document dans la base</h1>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign Up Form</title>
	<link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
	<link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
	<!--<link rel="stylesheet" href="css/main.css">-->
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<div class="row">
	<div class="col-md-12">
		<form action="/add_element" method="post">
			<!--retourner sur la page d'accueil quand le documeent est ajouté avec succès-->
			<h1> Add an element </h1>

			<fieldset>

				<legend><span class="number">1</span> Enter document</legend>

				<label for="name">Your Name:</label>
				<input type="text" id="name" name="user_name">

				<label for="number_of_like">Number of Likes:</label> 
				<input type="text" id="number_of_like" name="number_of_like">

				<label for="number_of_retweet">Number of Retweet:</label> 
				<input type="text" id="number_of_retweet" name="number_of_retweet">

				<label for="source_of_tweet">Source of Tweet:</label>
				<select id="source_of_tweet" name="source_of_tweet">
					<optgroup label="source_of_tweet">
						<option value="twitter_web_app">Twitter Web App</option>
						<option value="twitter_for_iPhone">Twitter for iPhone</option>
						<option value="tweepsmap">Tweepsmap</option>
						<option value="twitter_for_android">Twitter for Android</option>
						<option value="unjeton">UnJeton</option>
						<option value="camtsuku">Camtsuku</option>
						<option value="crypto_frog">Crypto Frog</option>
						<option value="cryptoquantbot">CryptoQuantBot</option>
						<option value="abnormal_crypto_app">abnormal_crypto_app</option>
						<option value="twe_ether">twe_ether</option>
						<option value="cryptobotprices">cryptobotprices</option>
						<option value="socialoomph">SocialOomph</option>
						<option value="cryptoredart">cryptoredart</option>
						<option value="sakatakeisen">sakatakeisen2</option>
						<option value="agorapulse_app">Agorapulse app</option>
					</optgroup>

					<label for="tweet">Tweet:</label>
					<textarea id="tweet" name="tweet"></textarea>
				</fieldset>

				<button type="submit">Ajouter</button>

			</form>
		</div>
	</div>
	{% endblock content %}